
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #weather-image {
    width:300px;
    height:150px; 
}


main {
  background-image:"./assets/food-image.jpg";
}

.inputEl {
  width: auto !important;
}
